<div class="container p-4">
  <figure class="text-center">
      <blockquote class="blockquote">
        <p class="h2">Tipo Ejercicios</p>
      </blockquote>
  </figure>
  
  <div class="row ">

      <div class="col-sm-6 offset-md-3 ">
          <div class="card card-body">
              <form #loginForm="ngForm" (ngSubmit)="submitData(loginForm.value)">
                <div class="form-group mb-3">
                  <input name="id" [(ngModel)]="id" placeholder="ID Tipo Ejercicio (Para Actualizar)" id="id" type="text" class="form-control" />
                </div>
                  <div class="form-group mb-3">
                    <input name="tipo" ngModel placeholder="Tipo" id="tipo" type="text" class="form-control" />
                  </div>
                  <div class="d-grid gap-2 col-6 mx-auto">
                      <button class="btn btn-secondary btn-block">
                          Guardar
                      </button>
                      <button type="button" class="btn btn-dark ">
                          Cancelar
                      </button>
                  </div>
              </form>
          </div>
          <table class="table">
            <thead>
              <tr >
                <th scope="col">ID</th>
                <th scope="col">Tipo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tipoEjercicio of dataTipoEjercicios.tipoejercicio">
                <td>{{tipoEjercicio._id}}</td>
                <td>{{tipoEjercicio.tipo | uppercase}}</td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm" (click)="tipoEjercicio._id && deleteTipoEjercicio(tipoEjercicio._id)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
  </div>

<!-- <div>
    <form #loginForm="ngForm" (ngSubmit)="submitData(loginForm.value)">
      <div class="main">
        <div class="input-fields">
          <input name="tipo" ngModel placeholder="Tipo" id="tipo" type="text" class="input-field" />
        </div>
        <button>Crear Tipo Ejercicio</button>
      </div>
    </form>
    <table>
      <thead>
        <th>Tipo</th>
      </thead>
      <tbody>
        <tr *ngFor="let tipoEjercicio of dataTipoEjercicios.tipoejercicio">
          <td>{{tipoEjercicio.tipo}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->